[Unit]
Description=Jetbot Robot OS Launcher
After=network.target sound.target docker.service

[Service]
Type=simple
User=jetson
WorkingDirectory=/home/jetson/jetbot_os
ExecStart=/usr/bin/python3 /home/jetson/jetbot_os/main_launcher.py
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
